@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Canela";
  src: url("/assets/fonts/Canela-Light.otf") format("opentype");
}

@font-face {
  font-family: "kudry";
  src: url("/assets/fonts/kudry.otf") format("opentype");
}

@font-face {
  font-family: "barlow-bold";
  src: url("/assets/fonts/Barlow-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "barlow-regular";
  src: url("/assets/fonts/Barlow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "voyage";
  src: url("/assets/fonts/voyage.otf") format("opentype");
}

*::selection {
  background-color: rgba(138, 139, 139, 0.345);
  color: white;
}

:root {
  --font-size-title: clamp(50px, calc(9vw + 0.5rem), 110px);
  --font-size-links: clamp(30px, calc(8vw + 0.5rem), 60px);
  --font-size-names: clamp(10px, calc(8vw + 0.5rem), 50px);
  --font-size-lg: clamp(120px, calc(11vw + 0.5rem), 230px);   /* Large font size */
  --font-size-xl: clamp(130px, calc(12.5vw + 0.5rem), 240px);   /* Extra large font size */
}

::-webkit-scrollbar {
  display: none;
}


body,
html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  background: #000;
  height: 100%;
  width: 100%;
  color: beige;
}


#canvas {
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: black;
  z-index: -1;
}

.fg-color {
  color: #fffde8;
}

.para {
  font-family: "Canela", sans-serif;
}

.melodrama {
  font-family: "Melodrama", serif;
}

.kudry {
  font-family: "kudry", serif;
}
.barlow-bold {
  font-family: "barlow-bold", serif;
}
.barlow {
  font-family: "barlow-regular", serif;
  font-weight: 100;
}

.socials{
  font-family: "Kanit", sans-serif;
}

.voyage {
  font-family: 'voyage', serif;
}


.md-font{
  font-size: var(--font-size-names);
}

.links{
  font-size: var(--font-size-links);
}

/* #a *, #a{
  border : 2px solid red
} */

@media screen and (min-width: 768px) {
  #h2 {
    font-size: var(--font-size-lg);
  }
  .big-font{
    font-size: var(--font-size-xl);
  }
  .titles{
    font-size: var(--font-size-title);
  }
  #intro{
    font-size: clamp(55px, 7vw, 80px);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  #h2,.titles {
    font-size: clamp(3rem, 10vw, 80px);
  }

  .big-font{
    font-size: clamp(60px, calc(11vw + 0.5rem), 230px);
  }

  #intro{
    font-size: clamp(30px, 7vw, 50px);
  }
}
